---
title: Nackte Nutzer - Friedrich Nord
nutzer_page: "friedrich_nord"
---
  <div id="Steckbrief" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Friedrich Nord</h2>
      <p><%= image_tag get_nutzer_data(current_page.data.nutzer_page)["imagefile"], :class => 'center', :alt => get_nutzer_data(current_page.data.nutzer_page)["name"] %></p>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-offset-2">
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-offset-2">
        <div id="chart_container">
          <h3 id="chart_title">Stromverbrauch des letzten Tages</h3>
          <div id="y_axis"></div>
          <div id="hour_chart"></div>
        </div>
      </div>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-offset-2">
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
  </div>
  <div class="row inner-page">
    <div class="col-md-8 col-md-offset-2">
      <p>
      <div id="chart_container">
        <h3 id="chart_title">Stromverbrauch der letzten Woche</h3>
        <div id="y_axis"></div>
        <div id="day_chart"></div>
      </div>
      </p>
    </div>
  </div>
  <div class="row inner-page">
    <div class="col-md-8 col-md-offset-2">
      <h3>Debugging</h3>
      <p><%= get_nutzer_data(current_page.data.nutzer_page) %></p>
    </div>
  </div>

<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#hour_chart {
        position: relative;
        left: 40px;
}
#chart_title {
        position: absolute;
        top: -80px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
</style>


<script>
window.onload = function() {
  var palette = new Rickshaw.Color.Palette();

  var l1_hour_data = <%= get_last_day(
                        get_nutzer_data(current_page.data.nutzer_page)["l1_sensor_id"], 
                        get_nutzer_data(current_page.data.nutzer_page)["l1_access_token"]) %>
  var l2_hour_data = <%= get_last_day(
                        get_nutzer_data(current_page.data.nutzer_page)["l2_sensor_id"], 
                        get_nutzer_data(current_page.data.nutzer_page)["l2_access_token"]) %>
  var l3_hour_data = <%= get_last_day(
                        get_nutzer_data(current_page.data.nutzer_page)["l3_sensor_id"], 
                        get_nutzer_data(current_page.data.nutzer_page)["l3_access_token"]) %>

  var hour_graph = new Rickshaw.Graph( {
          element: document.querySelector("#hour_chart"),
          width: 580,
          height: 350,
          series: [ 
              {
                  color: palette.color(),
                  data: l1_hour_data,
                  name: 'Watt'
              },
              {
                  color: palette.color(),
                  data: l2_hour_data,
                  name: 'Watt'
              },
              {
                  color: palette.color(),
                  data: l3_hour_data,
                  name: 'Watt'
              }
          ]
  } );

  var axes = new Rickshaw.Graph.Axis.Time( { 
      graph: hour_graph,
    } );

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
      graph: hour_graph,
      xFormatter: function(x) { return "" },
      yFormatter: function(y) { return Math.round(y) }
  } );

  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: hour_graph,
          orientation: 'left',
          //tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis')
  } );

  hour_graph.render();
};
</script>

